$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h1 {
  color: blue;
  text-align: center;
}

.log {
  text-align: center;
  height: 80px;
  width: 400px;
  border: 1px #000000;
  display: block;
  border-style: solid;
  padding: 10px 0 50px 0;
  margin: 0 auto;
}

.game-board {
  display: none;
  margin: 0 auto;
  height: 602px;
  width: 602px;
  border: 1px #000000;
  border-style: solid;
  }

p {
  text-align: center;
}

.hide {
  display: none;
}

button {
  padding: 30px 0 30px 0;
  margin: 0 auto;
  height: 100px;
  width: 100px;
}

.winner {
  text-align: center;
  height: 80px;
  width: 400px;
  border: 1px #000000;
  display: block;
  border-style: solid;
  padding: 10px 0 50px 0;
  margin: 0 auto;
}

.square {
  display: none;
  font-size: 100px;
  text-align: center;
  color: purple;
  height: 200px;
  width: 200px;
  display: block;
  border: 1px #000000;
  border-style: solid;
  padding: 0px;
  float: left;
}
