$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h1 {
  color: black;
  text-align: center;
  font-family: 'Montserrat Subrayada', sans-serif;
}

.log {
  font-family: 'Pavanam', sans-serif;
  text-align: center;
  height: 80px;
  width: 400px;
  border: 1px #000000;
  display: block;
  padding: 10px 0 50px 0;
  margin: 0 auto;
  font-size: 20px;
}

.cred {
  float: left;
}

.game-board {
  display: none;
  margin: 0 auto;
  height: 452px;
  width: 452px;
  border: 1px #000000;
  border-style: solid;
  }

p {
  text-align: center;
}

.hide {
  display: none;
}

.credential-status {
  font-family: 'Montserrat Subrayada', sans-serif;
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 300px;
  border: 1px #000000;
  padding: 20px 0 0;
}

.top {
  text-align: center;
  height: 75px;
  width: 100%;
  border: 1px #000000;
  display: block;
  margin: 0 auto;
  padding: 2px;
}


#sign-out {
  float: right;
}

.winner {
  font-family: 'Montserrat Subrayada', sans-serif;
  text-align: center;
  height: 80px;
  width: 400px;
  border: 1px #000000;
  display: block;
  padding: 10px 0 50px 0;
  margin: 0 auto;
  font-size: 25px;
}

.games {
  float: right;
  width: 150px;
  height: 75px;
  padding: 30px 0 30px 0;
  margin: 0 auto;
}

.new-game {
  float: left;
  width: 75px;
  height: 75px;
  padding: 30px 0 30px 0;
  margin: 0 auto;
}

.x-color {
  content: url("x_image.jpg")
}

.o-color {
  content: url("o_image.jpg")
}

.highlight {
  background-color: #C0C0C0;
}


.square {
  font-family: 'Montserrat Subrayada', sans-serif;
  display: none;
  font-size: 120px;
  text-align: center;
  height: 150px;
  width: 150px;
  display: block;
  border: 1px #000000;
  border-style: solid;
  padding: 0px;
  float: left;
}
